<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaveTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AD2A6691CD221CD0010F31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD2A67D1CD221D00010F31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD2A6881CD221D00010F31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
